.about-button{
    border: 1px solid rgb(78, 52, 3);
}
.about-button:hover{
    background: rgb(78, 52, 3);
    color: white;
}
.about-buttons{
    border: 1px solid rgb(78, 52, 3);
    background: rgb(78, 52, 3);
    color: white
}
.about-buttons:hover{
    background: transparent;
    color: black;
}