#home{
    background: linear-gradient(to bottom, #603813 75%, white 100%);
    min-height: 500px;
    color: white;
}

button.buttonss{
    color: white;
    border: 1px solid white;
}

button.buttonss:hover{
    color: black;
    background: white;
}

button.buttons{
    color: black;
    background: white;
    border: 1px solid white;
}

button.buttons:hover{
    color: white;
    background: transparent;
}