#home{
    background: linear-gradient(to bottom, #603813 75%, white 100%);
    min-height: 500px;
    color: white;
}

/* .content{
    color: white;
    height: 200px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

button.buttonss{
    color: white;
    border: 1px solid white;
}

button.buttonss:hover{
    color: black;
    background: white;
}

button.buttons{
    color: black;
    background: white;
    border: 1px solid white;
}

button.buttons:hover{
    color: white;
    background: transparent;
}

.card {
    transition: all 0.5s ease;
}

.card:hover {
    cursor: pointer;
      
box-shadow: 10px 10px rgba(0, 0, 0, .15);
}